@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
body {
  font-family: "Poppins", sans-serif;
}

.item-image {
  size: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.row {
  display: flex;
  justify-content: space-between;
}

.footer {
  margin-top: 1rem;
  padding: 1rem;
  background-color: rgba(120, 243, 71, 0.699);
  bottom: 0;
  left: 0;
  width: 100%;
}
.footer li {
  list-style: none;
}
.fa-twitter,
.fa-instagram,
.fa-facebook {
  margin: 15px;
  font-size: 70px;
}
.fa-instagram {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.fa-twitter {
  color: rgba(26, 145, 218, 0.4);
}
.fa-facebook {
  color: #3b5998;
}

.form-control {
  margin: 20px 0;
  margin-right: 25px;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
  border-radius: 5px;
}

.fetch-button {
  min-width: 75px;
  margin-bottom: 5px;
  padding: 5px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  background-color: #75ce68;
  border: none;
  color: #ffffff;
  transition: all 0.5s;
}

.fetch-button:hover {
  background-color: #f49293;
}

h1 {
  text-decoration: overline #8cc63f;
  text-align: center;
}

.container {
  display: flex;
}

.shop {
  width: 50%;
  padding: 5px;
  text-align: center;
}
